.chat-child {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--color-gainsboro-100);
  width: 393px;
  height: 302px;
}
.search-icon {
  position: absolute;
  top: 90.4px;
  left: 308px;
  width: 17px;
  height: 16.6px;
  object-fit: cover;
}
.tanish-bhavsar {
  position: absolute;
  top: 110px;
  left: 142px;
  font-size: 20px;
  font-weight: 600;
  color: var(--color-black);
}
.chat-item {
  position: absolute;
  top: 261px;
  left: 0px;
  border-radius: var(--br-5xl);
  background-color: #f9f9fa;
  width: 393px;
  height: 105px;
}
.ui-icon4 {
  position: absolute;
  top: 15px;
  right: 14px;
  width: 68px;
  height: 16px;
  object-fit: cover;
}
.time9 {
  position: absolute;
  width: calc(100% - 2px);
  top: calc(50% - 5.5px);
  left: 0.3px;
  letter-spacing: -0.33px;
  font-weight: 600;
  display: inline-block;
}
.time8 {
  position: absolute;
  top: 8px;
  left: 21px;
  width: 56px;
  height: 23px;
}
.status-bar4 {
  position: absolute;
  width: 100%;
  top: 12px;
  right: 0px;
  left: 0px;
  height: 43px;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-sf-pro-text);
  display: none;
}
.chat-inner {
  position: absolute;
  top: 331px;
  left: 0px;
  border-radius: var(--br-19xl);
  background-color: var(--color-white);
  box-shadow: 0px -1px 17.4px -7px rgba(0, 0, 0, 0.25);
  width: 393px;
  height: 521px;
}
.chat-child1 {
  position: absolute;
  top: 454px;
  left: 113.5px;
  border-top: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 194px;
  height: 1px;
}
.chat-child2 {
  position: absolute;
  top: 524.5px;
  left: 113.5px;
  border-top: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 194px;
  height: 1px;
}
.chat-child3 {
  position: absolute;
  top: 634.8px;
  left: 115.5px;
  border-top: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 192px;
  height: 1px;
}
.chat-child4 {
  position: absolute;
  top: 698.5px;
  left: 115.5px;
  border-top: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 194px;
  height: 1px;
}
.recents {
  position: absolute;
  top: 544px;
  left: 46px;
  font-size: var(--font-size-xs);
  color: var(--color-darkgray-100);
}
.chat1 {
  position: absolute;
  top: 192px;
  left: 30px;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
}
.pinned {
  position: absolute;
  top: 351px;
  left: 46px;
  font-size: var(--font-size-xs);
  color: var(--color-darkgray-100);
}
.all {
  position: absolute;
  top: 279px;
  left: 55px;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
.received {
  position: absolute;
  top: 279px;
  left: 146px;
  font-size: var(--font-size-5xl);
  color: var(--color-silver-100);
}
.sent {
  position: absolute;
  top: 279px;
  left: 297px;
  font-size: var(--font-size-5xl);
  color: var(--color-silver-100);
}
.chat-child5 {
  position: absolute;
  top: 777px;
  left: 0px;
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  box-shadow: 0px 4px 19.1px 1.5px rgba(0, 0, 0, 0.25);
  width: 393px;
  height: 75px;
}
.group-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid var(--color-mediumseagreen);
  box-sizing: border-box;
}
.rectangle-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
}
.online1 {
  position: absolute;
  top: calc(50% - 3.05px);
  left: calc(50% - 10.4px);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-weight: 900;
}
.group-parent {
  position: absolute;
  height: 1.65%;
  width: 15.47%;
  top: 13.85%;
  right: 49.16%;
  bottom: 84.5%;
  left: 35.37%;
  text-align: center;
  font-size: 5px;
  color: #4d9c40;
  font-family: var(--font-roboto);
}
.icon-home2 {
  position: absolute;
  height: 3.17%;
  width: 6.87%;
  top: 94.01%;
  right: 76.34%;
  bottom: 2.82%;
  left: 16.79%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.icon-mail2 {
  position: absolute;
  height: 3.29%;
  width: 7.12%;
  top: 94.01%;
  right: 37.66%;
  bottom: 2.7%;
  left: 55.22%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.icon-person2 {
  position: absolute;
  height: 3.29%;
  width: 7.12%;
  top: 94.01%;
  right: 16.79%;
  bottom: 2.7%;
  left: 76.08%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.group-icon2 {
  position: absolute;
  height: 2.82%;
  width: 6.34%;
  top: 94.25%;
  right: 58.55%;
  bottom: 2.93%;
  left: 35.11%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.img-7275-1-icon {
  position: absolute;
  top: 73px;
  left: 28px;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50px;
}
.fluent-mdl2pinned-solid-icon {
  position: absolute;
  top: 354px;
  left: 94px;
  width: 9px;
  height: 9px;
  overflow: hidden;
  object-fit: contain;
}
.hello {
  position: absolute;
  top: 32px;
  left: 70px;
  font-weight: 500;
}
.student-2 {
  position: absolute;
  top: 10px;
  left: 68px;
  font-size: var(--font-size-base);
  font-weight: 600;
  color: var(--color-black);
}
.div-child {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  background-color: var(--color-gainsboro-200);
  width: 50px;
  height: 50px;
}
.div3 {
  position: absolute;
  top: 643px;
  left: 44px;
  width: 144px;
  height: 50px;
}
.div4 {
  position: absolute;
  top: 707px;
  left: 44px;
  width: 143px;
  height: 50px;
}
.hello2 {
  position: absolute;
  top: 34px;
  left: 73px;
  font-weight: 500;
}
.prateek-mishra1 {
  position: absolute;
  top: 12px;
  left: 71px;
  font-size: var(--font-size-base);
  font-weight: 600;
  color: var(--color-black);
}
.div-inner {
  position: absolute;
  top: 2px;
  left: 3px;
  border-radius: 50%;
  background-color: var(--color-gainsboro-200);
  width: 50px;
  height: 50px;
}
.div-child1 {
  position: absolute;
  top: 0px;
  left: 1px;
  border-radius: 50%;
  background-color: var(--color-gainsboro-300);
  border: 1.5px solid var(--color-royalblue);
  box-sizing: border-box;
  width: 54px;
  height: 54px;
}
.div-child2 {
  position: absolute;
  top: 74px;
  left: 1px;
  border-radius: 50%;
  background-color: var(--color-gainsboro-300);
  border: 1.5px solid var(--color-royalblue);
  box-sizing: border-box;
  width: 54px;
  height: 54px;
}
.div-child3 {
  position: absolute;
  top: 186px;
  left: 1px;
  border-radius: 50%;
  background-color: var(--color-gainsboro-300);
  border: 1.5px solid var(--color-royalblue);
  box-sizing: border-box;
  width: 54px;
  height: 54px;
}
.div-child4 {
  position: absolute;
  top: 250px;
  left: 1px;
  border-radius: 50%;
  background-color: var(--color-gainsboro-300);
  border: 1.5px solid var(--color-royalblue);
  box-sizing: border-box;
  width: 54px;
  height: 54px;
}
.div-child5 {
  position: absolute;
  top: 313px;
  left: 0px;
  border-radius: 50%;
  background-color: var(--color-gainsboro-300);
  border: 1.5px solid var(--color-royalblue);
  box-sizing: border-box;
  width: 56px;
  height: 56px;
}
.div5 {
  position: absolute;
  top: 391px;
  left: 41px;
  width: 188px;
  height: 369px;
  cursor: pointer;
}
.div6 {
  position: absolute;
  top: 579px;
  left: 44px;
  width: 142px;
  height: 50px;
}
.photo {
  position: absolute;
  top: 30px;
  left: 72px;
  font-weight: 500;
}
.aids-fy {
  position: absolute;
  top: 8px;
  left: 70px;
  font-size: var(--font-size-base);
  font-weight: 600;
  color: var(--color-black);
}
.div21 {
  position: absolute;
  top: 467px;
  left: 44px;
  width: 142px;
  height: 50px;
}
.bithree-dots-vertical-icon1 {
  position: absolute;
  top: 115px;
  left: 335px;
  width: 20px;
  height: 18px;
  overflow: hidden;
  object-fit: cover;
}
.chat-child6 {
  position: absolute;
  top: 420px;
  left: 316px;
  border-radius: 50%;
  background-color: var(--color-crimson-100);
  width: 18px;
  height: 18px;
}
.b {
  position: absolute;
  top: 424px;
  left: 322px;
  font-size: var(--font-size-5xs);
  color: var(--color-white);
}
.chat-child7 {
  position: absolute;
  top: 489px;
  left: 316px;
  border-radius: 50%;
  background-color: var(--color-crimson-100);
  width: 18px;
  height: 18px;
}
.b1 {
  position: absolute;
  top: 493px;
  left: 322px;
  font-size: var(--font-size-5xs);
  color: var(--color-white);
}
.pm5 {
  position: absolute;
  top: 403px;
  left: 300px;
  font-size: var(--font-size-5xs);
  font-weight: 500;
  color: var(--color-dimgray-200);
  text-align: center;
}
.pm6 {
  position: absolute;
  top: 474px;
  left: 303px;
  font-size: var(--font-size-5xs);
  font-weight: 500;
  color: var(--color-dimgray-200);
  text-align: center;
}
.group-item {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-5xl);
  background-color: var(--color-royalblue);
  width: 103px;
  height: 39px;
}
.group-icon3 {
  position: absolute;
  height: 37.18%;
  width: 14.56%;
  top: 30.77%;
  right: 71.84%;
  bottom: 32.05%;
  left: 13.59%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.new-chat {
  position: absolute;
  top: 12px;
  left: 34px;
  font-weight: 600;
  color: white;
}
.rectangle-parent {
  position: absolute;
  top: 727px;
  left: 275px;
  width: 103px;
  height: 39px;
  font-size: var(--font-size-xs);
  color: var(--color-white);
}
.chat-child8 {
  position: absolute;
  top: 206px;
  left: 137px;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 22px;
  height: 22px;
}
.b2 {
  position: absolute;
  top: 211px;
  left: 145px;
  color: var(--color-dimgray-100);
}
.chat-child9 {
  position: absolute;
  top: 435px;
  left: 78px;
  border-radius: 50%;
  background-color: var(--color-mediumseagreen);
  width: 12px;
  height: 12px;
}
.chat-child10 {
  position: absolute;
  top: 621px;
  left: 78px;
  border-radius: 50%;
  background-color: var(--color-mediumseagreen);
  width: 12px;
  height: 12px;
}
.chat-child11 {
  position: absolute;
  top: 509px;
  left: 78px;
  border-radius: 50%;
  background-color: var(--color-crimson-200);
  width: 12px;
  height: 12px;
}
.chat {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 852px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-gray-200);
  font-family: var(--font-inter);
}
