.start-child {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.93);
  width: 393px;
  height: 558px;
}
.mit-wpu-1-1-icon {
  position: absolute;
  top: 0px;
  left: -229px;
  width: 800px;
  height: 558px;
  object-fit: cover;
}
.start-item {
  position: absolute;
  top: 532px;
  left: 0px;
  border-radius: 31px;
  background-color: var(--color-white);
  width: 393px;
  height: 365px;
}
.login-now {
  position: absolute;
  top: 777px;
  left: 165px;
  font-weight: 600;
  color: var(--color-steelblue);
  cursor: pointer;
}
.start-connecting-with {
  position: absolute;
  top: 570px;
  left: 42px;
  font-size: var(--font-size-13xl);
  font-weight: 600;
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 308px;
}
.join-the-virtual {
  position: absolute;
  top: 672px;
  left: 111px;
  font-weight: 600;
  color: var(--color-gray-100);
}
.login-child {
  position: absolute;
  top: 0px;
  left: -39px;
  border-radius: var(--br-xl);
  background-color: var(--color-crimson-200);
  width: 261px;
  height: 41px;
}
.get-started {
  position: absolute;
  top: 9px;
  left: 41px;
  font-weight: 600;
}
.login {
  position: absolute;
  top: 715px;
  left: 105px;
  width: 182px;
  height: 39px;
  cursor: pointer;
  font-size: var(--font-size-lg);
}
.ui-icon1 {
  position: absolute;
  top: 15px;
  right: 14px;
  width: 68px;
  height: 16px;
  object-fit: cover;
}
.time3 {
  position: absolute;
  width: calc(100% - 2px);
  top: calc(50% - 5.5px);
  left: 0.3px;
  letter-spacing: -0.33px;
  font-weight: 600;
  display: inline-block;
}
.time2 {
  position: absolute;
  top: 8px;
  left: 21px;
  width: 56px;
  height: 23px;
}
.status-bar1 {
  position: absolute;
  width: 100%;
  top: 12px;
  right: 0px;
  left: 0px;
  height: 43px;
  text-align: center;
  font-size: var(--font-size-mini);
  font-family: var(--font-sf-pro-text);
}
.mit-logo-1-icon {
  position: absolute;
  top: 236px;
  left: 45px;
  width: 302px;
  height: 87px;
  object-fit: cover;
}
.start {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 852px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-inter);
}
