.hey {
  margin: 0;
}
.hey-login-now-container {
  position: absolute;
  top: 210px;
  left: 37px;
  font-size: var(--font-size-31xl);
  font-weight: 600;
  color: var(--color-black);
}
.download-1-icon {
  position: absolute;
  top: 102px;
  left: 37px;
  width: 61px;
  height: 61px;
  object-fit: cover;
  cursor: pointer;
}
.login-page-child {
  position: absolute;
  top: 434px;
  left: 40px;
  border-radius: var(--br-10xs);
  background-color: var(--color-whitesmoke-100);
  width: 309px;
  height: 54px;
}
.if-you-are {
  position: absolute;
  top: 374px;
  left: 40px;
  font-weight: 600;
  white-space: pre-wrap;
  cursor: pointer;
}
.email-address1 {
  position: absolute;
  top: 452px;
  left: 64px;
  font-weight: 600;
}
.forgot-password {
  position: absolute;
  top: 699px;
  left: 149px;
  font-size: var(--font-size-xs);
  font-weight: 600;
  color: var(--color-gray-100);
}
.login-page-item {
  position: absolute;
  top: 513px;
  left: 40px;
  border-radius: var(--br-10xs);
  background-color: var(--color-whitesmoke-100);
  width: 309px;
  height: 54px;
}
.password {
  position: absolute;
  top: 530px;
  left: 64px;
  font-weight: 600;
}
.login-inner {
  position: absolute;
  top: 0px;
  left: -25px;
  border-radius: var(--br-xl);
  background-color: var(--color-crimson-200);
  width: 232px;
  height: 41px;
}
.login3 {
  position: absolute;
  top: 9px;
  left: 66px;
  font-weight: 600;
}
.login2 {
  position: absolute;
  top: 627px;
  left: 104px;
  width: 182px;
  height: 39px;
  cursor: pointer;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.ui-icon7 {
  position: absolute;
  top: 15px;
  right: 14px;
  width: 68px;
  height: 16px;
  object-fit: cover;
}
.time15 {
  position: absolute;
  width: calc(100% - 2px);
  top: calc(50% - 5.5px);
  left: 0.3px;
  letter-spacing: -0.33px;
  font-weight: 600;
  display: inline-block;
}
.time14 {
  position: absolute;
  top: 8px;
  left: 21px;
  width: 56px;
  height: 23px;
}
.status-bar7 {
  position: absolute;
  width: 100%;
  top: 12px;
  right: 0px;
  left: 0px;
  height: 43px;
  text-align: center;
  color: var(--color-black);
  font-family: var(--font-sf-pro-text);
}
.vector-icon3 {
  position: absolute;
  top: 761px;
  left: -56px;
  width: 240px;
  height: 244px;
  object-fit: cover;
}
.vector-icon4 {
  position: absolute;
  top: 723px;
  left: -119px;
  width: 183px;
  height: 207px;
  object-fit: cover;
}
.login-page {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 852px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-dimgray-100);
  font-family: var(--font-inter);
}
